#night-mode{
	z-index:2;
	width:25px;
	height:25px;
	background:url("light.png");
	background-size: 25px;
	position:fixed;
	border-radius:50%;
	right:10px;
	bottom:10px;
	box-shadow:0px 0px 2px 2px white;
	transition:01s;
}
#night-mode:hover{
	transition:02s;
	transform: rotate(180deg);
}
html{

}
html[data-theme='dark']{
  --primary-color:#2a3341;
  --secondary-color:#1d2331;
  --text-white:white;
  --primary-gradient: linear-gradient(to right bottom, #3d444f, #2a3341);
}