#night-mode{
	z-index:2;
	width:25px;
	height:25px;
	background:#2d2d2d;
	position:fixed;
	border-radius:50%;
	right:10px;
	bottom:10px;
	box-shadow:0px 0px 2px 2px white;
	transition:01s;
}
#night-mode:hover{
	transition:01s;
}

.black{
	background-color:#2a3341 !important;
	transition:all 1s;
}
.white-text{
	color:white !important;
}
.intro-opacity{
background: url(../img/evacuator_price.jpg) no-repeat center;
}
.footer-header-black{
	background-color:#1d2331 !important;}
.white-button{
	background:white;
	opacity: 0,5 !important;
	box-shadow:0px 0px 2px 2px white !important;;
}
.gradient{
	background-image: linear-gradient(to right bottom, #3d444f, #2a3341)!important ;
}






